/* variable overrides bootstrap*/
$enable-responsive-font-sizes:true;
$enable-gradients:true;
$theme-colors: (
  "primary":   #6C63FF,
  "secondary": #343136 
);

/*-------import scss ------------*/
@import "node_modules/bootstrap/scss/bootstrap";
/*--------- import respnsive font size------------*/
@import "node_modules/rfs/scss";

/*--------- custom style----------*/
*{  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 body {
    @include font-size(1rem);
    font-family: Amiri,Arial, Helvetica, sans-serif;
    background: #252329;
    color: #e0e0e0;
    height: 100%;
  }
 .btn,a{ @include font-size(1.4rem);}
 .main-content {margin-top: 100px;}

/*-------------to do style nav-----------*/
nav {height: 65px;}
.nav-style{
    background: #252329;
    box-shadow: 0 5px 2px -2px #1f1e21;
}


/*---------toDo: style logo----------*/
  .logo img{ height: 60px;}


/*-----------toDo: style hero section for home page------------*/
  .hero-text {
      h1{@include font-size(3.5rem);}
      p{ @include font-size(1.1rem);}
     .links a{ @include font-size(1.2rem); border-radius: 12px; transition: all -.25s ease;}
     .links a:hover{transform: translate(0,-6px);}
     .links a:active{transform: translate(0,-3px);}
  }


/*---------------toDo: style card---------------*/
.card-header{
    @include font-size(1.2rem);
  }

.card {
     border-radius: 12px;
     @include font-size(1.3rem);
     .progress{ display: none;}
     h6{margin-right:10% ; @include font-size(1.1rem);}
     .list-group-flush li{background: #252329;}
     li.social{
        transition: all 0.25s ease;
        opacity: 0.8;
        :hover{
             transform: scale(1.2);
             opacity: 1;
            }
        }
     li.social:not(:last-child){ margin-right: 1rem;}
}


/*---------------- toDo: style form in card -------------- */
.card .form-group{
     position: relative;
     overflow: hidden;
     input,textarea{
        padding-left: 36px;
        background:none;
        border:none;
        height: 100%;
        width: 100%;
        outline: none;
        padding-top: 30px;
        color: #E0E0E0;
    }
     input[type=file]{  padding-left: 64px;}
     label{
        position: absolute;
        top: 0;
        left:0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        color: #E0E0E0;
        border-bottom:1px solid #E0E0E0;
    }
     label::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 100%;
        width: 100%;
        border-bottom:3px solid #6C63FF;
        transform: translateX(-100%);
        transition: all  0.3s ease;
    }
     .icon{
        position: absolute;
        bottom: 0px;
        left: 0;
        transition: all  0.3s ease;    
    }
     input:focus + .label-name .icon ,
     input.valid + .label-name .icon,
     input.error + .label-name .icon,
     textarea:focus + .label-name .icon ,
     textarea.valid + .label-name .icon,
     textarea.error + .label-name .icon,
     .valid-input:valid + .label-name .icon
     {
        @include font-size(1rem);
       transform: translateY(-120%);
    }
     input.error + .label-name .icon,
     textarea.error + .label-name .icon
    {
        color:  #dc3545;
    }
    textarea.valid + .label-name .icon,
    input.valid + .label-name .icon,
    .valid-input:valid + .label-name .icon
     {
        color:  #28a745;  
    }
    textarea:focus + .label-name .icon,
    input:focus + .label-name .icon{
        color:  #6C63FF;
    }
    input:focus + .label-name::after,
    input.valid + .label-name::after,
    input.error + .label-name::after,
    textarea:focus + .label-name::after,
    textarea.valid + .label-name::after,
    textarea.error + .label-name::after,
    .valid-input:valid + .label-name::after{
        transform: translateX(0);
    }
    input.error + .label-name::after,
    textarea.error + .label-name::after{
        border-bottom:3px solid #dc3545;
    }
      
    input.valid + .label-name::after,
    .valid-input:valid + .label-name::after,
    textarea.valid + .label-name::after{
        border-bottom:3px solid #28a745 ;   
    }

    input:focus + .label-name::after,
    textarea:focus + .label-name::after{
        border-bottom:3px solid #6C63FF;
    }

}

 /*------------------------ profile page-------------*/   

 .profile-img{width: 50px;height: 50px;}  
/* ----------------style dropdown-------------*/
.btn.dropdown-toggle{box-shadow: none;color: #e0e0e0; } 
.dropdown-img{width: 40px;height: 40px;}
.dropdown-menu{border-radius: 12px;top: 4px!important;}
.dropdown-item{ color: #e0e0e0;}
.dropdown-item:last-child{color:  #EB5757;}
.dropdown-item:hover,
.btn.dropdown-toggle:hover,
.btn.dropdown-toggle:focus{
    border-radius: 8px;
    background: #39363f;
    color:#e0e0e0;
}



/*------------------------style chat page------------*/
.wrapper{margin-top: 64px;}

/*-------------------navbar----------------*/
.btn.navbar-button {
    display: none;
    box-shadow: none;
    outline: none;
    .navbar-icon{
        @include font-size(2.5rem);
        color: #e0e0e0;
    }
}
.navbar-button:hover > .navbar-icon,.navbar-button > .navbar-icon{color: #6C63FF;}

/*-----------------sidebar-----------------*/
#sidebar {
    min-width: 280px;
    max-width: 280px;
    position: fixed;
    z-index: 4;
    min-height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
    overflow-y:scroll;
    transition: all 0.4s ease;
    box-shadow: 5px -4px 5px -2px #1f1e21;
    background: #120F13;
    li.member{
        a{color: #e0e0e0;}
        :hover{
            border-radius: 8px;
            background: #39363f;
            color:#fff;
        }
    }
}

/*-----------------content------------*/
#content{
    width:  calc(100% - 280px);
    margin-left: 280px;
    min-height: calc(100vh - 160px);
    max-height: calc(100vh - 160px);
    overflow-y: scroll; 
}
.message{
    @include font-size(1.2rem);
    h5{ @include font-size(1.4rem);}
}
.time{ font-size: 1.1rem;}
.member-name{ position: relative;} 
.member-name::after{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background: #343136;
    display: inline-block;
    top: 10px;
    right: -15px;
    border-radius: 50%;
}
.member-name.active-user::after{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background:  #28a745;
    display: inline-block;   
    border-radius: 50%;
    top: 10px;
    right: -15px;
}


/*----------------massage form----------------*/
#message-form{
    left: 280px;
    width:  calc(100% - 280px);
    padding-left: 45px;
    padding-right:45px ;
    z-index: 2;
    input{ color: #e0e0e0; }
    .form-group .btn{
        right: 4px;
        top: 4px;
        color: #e0e0e0;
        height: 40px;
        width: 40px;
    }
    .form-group .btn .material-icons{@include font-size(2.5rem); }
}

/*-------respnsive side bar----*/
@media (max-width:768px){
    #sidebar {
        max-width: 100%;
        min-width: 100%;
        transform: translateX(-100%);
    }
    #sidebar.active {transform: translateX(0);}
    #sidebarCollapse{  display: block;}
    #content{ width:  100%;  margin-left: 0; } 
    #massege-form{width: 100%;left: 0;} 
}

/* -----custom scrollbar-------*/
 /* width */
 ::-webkit-scrollbar { width: 12px; }

  /* Track */
 ::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
     box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
     border-radius: 10px;
  }

  /* Handle */
 ::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
     box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
  
  /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
     background: #6C63FF;
  }
  

  
 


